dsaX_splitup
dsaX_beamformer
dsaX_beamformer_offline	
dsaX_capture
dsaX_capture_thread
dsaX_capture_manythread
dsaX_dbnic
dsaX_fake
dsaX_filTrigger
dsaX_nicdb
dsaX_reorder_raw
dsaX_simplesplit
dsaX_splice
dsaX_split
dsaX_store
dsaX_trigger
dsaX_writeFil
dsaX_writevis
dsaX_xgpu
dumpfil
fil2dada
gpu_flagger
dsaX_beamformer_offline
dsaX_copydb
cuda_correlator
dsaX_beamformer_passon
dsaX_wrangle
cuda_correlator
splice_offline_beams
dsaX_capture_pcap
dsaX_testdada

